body, html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.event-editor {
  padding: 20px;
  width: 500px;

  .editor-title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .editor-required {
    color: red;
  }

  textarea {
    width: 400px;
  }

  input {
    height: 30px;
    width: 400px;
  }
}
