body, html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

#submit-create-button {
  margin-top: 10px;
}

#main {
  height: 100%;
}

#nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.review-queue{
  margin: 20px;
}

.review-metrics {
  margin-left: 40px;

  .event-editor {
    padding: 20px;
    width: 500px;

    .editor-title {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .editor-required {
      color: red;
    }

    textarea {
      width: 400px;
    }

    input {
      height: 30px;
      width: 400px;
    }
  }
}
